In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
result_data = pd.read_csv('DataSet/Results.csv')
raw_data    = pd.read_csv('DataSet/Train.csv')
test_data   = pd.read_csv('DataSet/Test.csv')
sam_sub     = pd.read_csv('DataSet/Sample_Submission.csv')

In [8]:
result_data.shape , raw_data.shape, test_data.shape, sam_sub.shape

((13500, 3), (31499, 3), (13500, 2), (3, 3))

In [25]:
result_data.drop(['distractor'],axis=1) == test_data

       question  answer_text
0          True         True
1          True         True
2          True         True
3          True         True
4          True         True
5          True         True
6          True         True
7          True         True
8          True         True
9          True         True
10         True         True
11         True         True
12         True         True
13         True         True
14         True         True
15         True         True
16         True         True
17         True         True
18         True         True
19         True         True
20         True         True
21         True         True
22         True         True
23         True         True
24         True         True
25         True         True
26         True         True
27         True         True
28         True         True
29         True         True
...         ...          ...
13470      True         True
13471      True         True
13472      True         True
13473      True         True
13474      True         True
13475      True         True
13476      True         True
13477      True         True
13478      True         True
13479      True         True
13480      True         True
13481      True         True
13482      True         True
13483      True         True
13484      True         True
13485      True         True
13486      True         True
13487      True         True
13488      True         True
13489      True         True
13490      True         True
13491      True         True
13492      True         True
13493      True         True
13494      True         True
13495      True         True
13496      True         True
13497      True         True
13498      True         True
13499      True         True

[13500 rows x 2 columns]