Build a RESTful service that extracts expense date from a receipt. Please feel free to use any language and framework of your choice. Deploy the service on any cloud platform like Heroku/AWS/GCP. The service should contain one API which has the following contract:

Request:
POST /extract_date

Payload:
{“base_64_image_content”: <base_64_image_content>}

Response:
If date is present:
{“date”: “YYYY-MM-DD”}
If date is not present:
{“date”: null}

Calculate the accuracy of the service against the sample receipts dataset given. This can be calculated as follows:

accuracy = (number of receipts for which the service extracted correct date/total receipts)*100%

In [1]:
from PIL import Image
import pytesseract as pt
import glob
import re
from dateutil.parser import parse
import dateparser
from dateparser.search import search_dates
from datefinder import find_dates
pt.pytesseract.tesseract_cmd = 'C:/Program Files/Tesseract-OCR/tesseract.exe'

In [118]:
#img_paths = glob.glob('images/*')
# '2b931f74.jpeg'
img_str = pt.image_to_string('images/5d80cb45.jpeg')

In [119]:
print(img_str)

HOTEL HIGHWAY KING
DELHI JAIFUR HIGHWAY,N.H.8
PH: 9828338100
TIN: 08571764475
GST NO. :O8AALPY6817A12ZF

SAC Code: 996332

Name :

Date + 16/07/2019

Time ; 09:56:33

Ttem Nane Quantity Rate Amount

DAL CHAWEL 1 160.00 160.00



Taxable 160.00 CGST 2.50% : 4.00
Taxable 160.00 SGST 2.50% : 4.00
Net Total (Rounded) : 168

Rs. ONE HUNDRED SIXTY EIGHT ONLY

In [97]:
newstr = list(set(map(lambda x : x.strip(), img_str.split('\n'))))

In [ ]:
l = ['29-May-2019','22.05.2019','05/07/2019','28-Jun-2019','18/06/2019',
     '03/Jun/2019','06/20/19','07/12/2019','07-Jun-2019','6/28/2019',
     '30-04-2019','Sep 29, 2018','27-Jun-19','22/05/19','Jun 1, 2019',
     '09-Jul-19',"21/5","07-06-19","10-20-2018","17-Feb-2018","06/06/19",
     "24/06/19","Oct06'16","5/29/2019","03/Jul/2019","06/29/2019","02-Mar-2019",
     "Mar18'18"]

In [84]:
newstr

['ee COCO',
 '',
 'PARTICULARS RATE AMOUNT 4',
 'ferent ae g e.',
 'EO',
 'pate aL] 06/19',
 '| 660!']

In [98]:
tags = []
for i in newstr:
    try:
        find_date = search_dates(i) 
    except:
        continue
    if find_date:
        for j in find_date:
            tags.append(j[0])

In [99]:
tags

['76661',
 '85:53:53',
 '549',
 '1026',
 '57544619961',
 '896046193',
 'KAN',
 '9500',
 '107',
 'ANY',
 '#246017']

In [87]:
pattern1 = r'(\d{1,4}([.\-/])\d{1,2}([.\-/])\d{1,4})'

pattern2 = r'(\d{1,4}([.\-/\s])[ADFJMNOSadfjmnos]\w*([.\-/\s])\d{1,4})'

pattern3 = r"([ADFJMNOSadfjmnos]\w*\s\d{1,4}([,.\-/\s]*)([.\-/\s])\d{1,4})"

pattern4 = r"[ADFJMNOSadfjmnos]\w*\d{1,4}([']*)\d{1,4}"

pattern5 = r"(\d{1,4}([.\-/\s])\d{1,4}"

In [100]:
date_find = []

In [105]:
for i in tags:
    for j in (re.search(regex,i) for regex in [pattern1, pattern2, pattern3, pattern4]):
        if j:
            s = j.group()
            
            if s.find('.'):
                date_find.append("-".join(s.split('.')))
            else:
                date_find.append(s)
            print('i: ',i,' s: ',s)

In [106]:
date_find

['nleaded 13-1026', '87/16/2619', 'N36']

In [107]:
date_find = list(set(date_find))

In [108]:
dates = {}
for i in date_find:
    dates[i] = search_dates(i)[0][1].strftime("%Y-%m-%d")

TypeError: 'NoneType' object is not subscriptable

In [ ]:
tags = ['29-May-2019','22.05.2019','05/07/2019','28-Jun-2019','18/06/2019',
     '03/Jun/2019','06/20/19','07/12/2019','07-Jun-2019','6/28/2019',
     '30-04-2019','Sep 29, 2018','27-Jun-19','22/05/19','Jun 1, 2019',
     '09-Jul-19',"21/5","07-06-19","10-20-2018","17-Feb-2018","06/06/19",
     "24/06/19","Oct06'16","5/29/2019","03/Jul/2019","06/29/2019","02-Mar-2019",
     "Mar18'18"]

In [14]:
dates

{'25-07-2019': '2019-07-25'}

In [ ]:
for i in new_date_find:
    print(search_dates(i))