In [24]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import mlxtend.data as mld

path = 'F:/Books/Machine Learning/DataSets/'

In [ ]:
x_train = x_train.reshape(x_train.shape[0],784)
y_train = y_train.reshape(y_train.shape[0],1)
x_test = x_test.reshape(x_test.shape[0],784)
y_test = y_test.reshape(y_test.shape[0],1)
MNIST_image = np.vstack( (x_train,x_test) )
MNIST_label = np.vstack( (y_train,y_test) )

In [4]:
submission = pd.read_csv('F:/Books/Machine Learning/DataSets/MNIST/Do_not_submit.csv')

In [9]:
submission.shape

(28000, 2)

In [17]:
submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28000 entries, 0 to 27999
Data columns (total 2 columns):
ImageId    28000 non-null int64
Label      28000 non-null int64
dtypes: int64(2)
memory usage: 437.6 KB

In [22]:
submission.astype('uint8').to_csv('sub2.csv',index=False)b

In [26]:
sub1 = pd.read_csv('sub1.csv')

In [28]:
sub1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28000 entries, 0 to 27999
Data columns (total 2 columns):
ImageId    28000 non-null int64
Label      28000 non-null int64
dtypes: int64(2)
memory usage: 437.6 KB

In [29]:
sub1.Label.value_counts()

1    3193
7    2892
2    2813
3    2790
0    2771
9    2770
8    2762
4    2752
6    2739
5    2518
Name: Label, dtype: int64

In [31]:
sub1.astype('uint8').Label.value_counts()

1    3193
7    2892
2    2813
3    2790
0    2771
9    2770
8    2762
4    2752
6    2739
5    2518
Name: Label, dtype: int64

In [32]:
sub1 = sub1.astype('uint8')

In [47]:
sub1

       ImageId  Label
0            1      2
1            2      0
2            3      9
3            4      0
4            5      3
...        ...    ...
27995       92      9
27996       93      7
27997       94      3
27998       95      9
27999       96      2

[28000 rows x 2 columns]

In [34]:
sub1.to_csv('sub3.csv',index=False)

In [51]:
sub1.ImageId = pd.Series(range(1,28001))

In [59]:
sub1.ImageId = sub1.ImageId.astype('uint32')

In [63]:
sub1.to_csv("sub4.csv",index=False)

In [48]:
pd.concat([pd.Series(range(1,28001),name = "ImageId"),results],axis = 1)

NameError: name 'results' is not defined